<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>未来行程的设定</title>
</head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/setdaily.css') }}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
<button class="back">返回</button>
<div class="setdaily">
    <div class="items set">
        <h2>设定每日必做的日程吧</h2>
        <p>设定日程名</p>
        <input type="text" class="input_name" placeholder="输入日程名">
        <p>设定日程具体条目</p>
        <ul class="input_area">
            <li>
                <input type="text" placeholder="请输入条目名称" name="plan_name" value="">
                <input type="text" placeholder="请设定类型" name="plan_type" value="">
                <textarea class="getcontent" placeholder="添加相关备注" maxlength="200" ></textarea>
            </li>
        </ul>
        <button class="add" title="点击添加日程条目">+</button>
        <button class="submit">确认设定</button>
    </div>
</div>
<script>
  function check_change(results){
      const get_lis = document.querySelectorAll('.set .input_area li')
      const length = results.length
      for(let i = 0;i < length; i++){
          const get_name = document.querySelector(`.set .input_area li:nth-child(${i+1}) input:nth-child(1)`)
          const get_type = document.querySelector(`.set .input_area li:nth-child(${i+1}) input:nth-child(2)`)
          const get_tip = document.querySelector(`.set .input_area li:nth-child(${i+1}) textarea`)
          // 直接将新的值赋给result即可
          results[i]['name'] = get_name.value
          results[i]['type'] = get_type.value
          results[i]['tip'] = get_tip.value
            }
      }
        const add_btn = document.querySelector('.setdaily .add')
        const set_ul = document.querySelector('.setdaily ul')
        let results = [] // 存放已有结果的数组
        const input_name = '<input type="text" placeholder="请输入条目名称" name="plan_name" value="">'
        const input_type = '<input type="text" placeholder="请设定类型" name="plan_type" value="">'
        const input_tip = '<textarea class="getcontent" placeholder="添加相关备注" maxlength="200" ></textarea>'
        // 为添加按钮增添点击事件
        add_btn.addEventListener('click',function(){
          // 选择input标签时一定要注意使用属性选择器
          // 获取到最新一条输入的各元素
          check_change(results)
          let get_lis = document.querySelectorAll('.set .input_area li')
          let length = get_lis.length
          let get_name = document.querySelector(`.set .input_area li:nth-child(${length}) input:nth-child(1)`)
          let get_type = document.querySelector(`.set .input_area li:nth-child(${length}) input:nth-child(2)`)
          let get_tip = document.querySelector(`.set .input_area li:nth-child(${length}) textarea`)
          let tip_content = ''
          if(get_tip.value){
              tip_content = get_tip.value
          }else{
              tip_content = '无'
          }
          let result = {'name':get_name.value,'type':get_type.value,'tip':tip_content}
          results[length-1] = result // 向结果数组中添加条目对象
          console.log(results)
          set_ul.innerHTML +=
           `<li>
                ${input_name}
                ${input_type}
                ${input_tip}
           </li>`
          for( let i = 0 ; i < results.length; i++){
              // 为li标签中的input的value逐个赋值
             let get_name = document.querySelector(`.set .input_area li:nth-child(${i+1}) input:nth-child(1)`)
             let get_type = document.querySelector(`.set .input_area li:nth-child(${i+1}) input:nth-child(2)`)
              let get_tip = document.querySelector(`.set .input_area li:nth-child(${i+1}) textarea`)
              get_name.value = results[i]['name']
              get_type.value = results[i]['type']
              get_tip.value = results[i]['tip']
            }
        })
        // 获取到确认设定的按钮
        const submit_btn = document.querySelector('.set .submit')

        // 为按钮添加点击事件
        submit_btn.addEventListener('click',function(){
            // 这个只需要管将results传到后端
            // 注:此时并未将设定的最后一个条目传入results中 在此额外获取
            let get_lis = document.querySelectorAll('.set .input_area li')
            let length = get_lis.length
            let get_name = document.querySelector(`.set .input_area li:nth-child(${length}) input:nth-child(1)`)
            let get_type = document.querySelector(`.set .input_area li:nth-child(${length}) input:nth-child(2)`)
            let get_tip = document.querySelector(`.set .input_area li:nth-child(${length}) textarea`)
            let tip_content = ''
            if(get_tip.value){
                tip_content = get_tip.value
            }else{
                tip_content = '无'
            }
            let result = {'name':get_name.value,'type':get_type.value,'tip':tip_content}
            results[length-1] = result // 向结果数组中添加条目对象
            const get_base_name = document.querySelector('.set .input_name')
            name = get_base_name.value
            axios({
                url:'{{ url_for('view_u.setdaily') }}',
                method: 'POST',
                data:{
                    results: results,
                    name:name
                }
            }).then(result=>{
                console.log('提交成功')
            })
            })

  const get_back = document.querySelector('.back')
  get_back.addEventListener('click',function(){
      window.location.href = '{{ url_for('view_u.firstpage') }}'
  })
</script>
</body>
</html>